body {
  margin: 0;
  padding: 0;
  width: 100%;
  font-size: 15px;
  font-family: 'Spartan', sans-serif;
  background-color: #ffffff;
}

body .mainer {
  max-width: 1115px;
  padding: 0 15px;
  margin: 20px auto 0;
}

body .mainer .header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin-bottom: 40px;
}

body .mainer .header .headline {
  width: 50%;
}

body .mainer .header .stars-list {
  width: 50%;
}

body .mainer .reviews-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 40vh;
}

body .mainer .reviews-section .reviews-card {
  margin-right: 30px;
}

body .mainer .reviews-section .reviews-card:nth-of-type(3) {
  margin-right: 0;
}

.bg1 {
  position: absolute;
  top: 0;
  left: 0;
  width: 80vw;
  height: 80vh;
  background: url(../images/bg-pattern-top-desktop.svg) no-repeat;
  z-index: -1;
}

.bg2 {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 80vw;
  height: 80vh;
  background: url(../images/bg-pattern-bottom-desktop.svg) no-repeat;
  z-index: -1;
}

.headline h1 {
  width: 80%;
  font-size: 42px;
  color: #502050;
}

.headline p {
  width: 80%;
  font-size: 14px;
  line-height: 20px;
  color: #937b92;
}

ul.stars-list {
  margin-top: 40px;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

ul.stars-list li.stars-card {
  width: 70%;
  background-color: #f7f2f7;
  margin-bottom: 16px;
  padding: 17px 32px 23px;
  border-radius: 5px;
  font-size: 11px;
  font-weight: 700;
}

ul.stars-list li.stars-card:nth-of-type(2) {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

ul.stars-list li.stars-card:nth-of-type(3) {
  -ms-flex-item-align: end;
      align-self: flex-end;
}

ul.stars-list li.stars-card .stars-wrapper {
  display: inline-block;
  width: 40%;
  height: 100%;
  position: relative;
}

ul.stars-list li.stars-card .stars-wrapper span {
  position: absolute;
  width: 17px;
  height: 16px;
  background-image: url(../images/icon-star.svg);
}

ul.stars-list li.stars-card .stars-wrapper span:nth-of-type(1) {
  left: 0;
  top: 0;
}

ul.stars-list li.stars-card .stars-wrapper span:nth-of-type(2) {
  left: 25px;
  top: 0;
}

ul.stars-list li.stars-card .stars-wrapper span:nth-of-type(3) {
  left: 50px;
  top: 0;
}

ul.stars-list li.stars-card .stars-wrapper span:nth-of-type(4) {
  left: 75px;
  top: 0;
}

ul.stars-list li.stars-card .stars-wrapper span:nth-of-type(5) {
  left: 100px;
  top: 0;
}

ul.stars-list li.stars-card p {
  display: inline-block;
  margin: 0;
}

.reviews-card {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  padding: 40px 30px;
  background-color: #502050;
  color: #ffffff;
  border-radius: 10px;
}

.reviews-card:nth-of-type(2) {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.reviews-card:nth-of-type(3) {
  -ms-flex-item-align: end;
      align-self: flex-end;
}

.reviews-card .customer-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.reviews-card .customer-block .customer-img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.reviews-card .customer-block .customer-name {
  margin: 4px 0 0 15px;
  font-weight: 700;
  font-size: 12px;
  line-height: 18px;
}

.reviews-card .customer-block .customer-name span {
  font-weight: 400;
  color: #937b92;
}

.reviews-card .customer-review {
  font-size: 11px;
  line-height: 20px;
  letter-spacing: 0.05rem;
}

.attribution {
  margin-top: 35px;
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: #3e52a3;
}

@media screen and (max-width: 400px) {
  .body {
    background-color: blueviolet;
  }
}
/*# sourceMappingURL=main.css.map */