// COLORS
$primaryVeryDarkMagenta: hsl(300, 43%, 22%);
$primarySoftPink: hsl(333, 80%, 67%);
$neutralDarkGrayishMagenta: hsl(303, 10%, 53%);
$neutralLightGrayishMagenta:hsl(300, 24%, 96%);
$neutralWhite: hsl(0, 0%, 100%);

body {
    margin: 0;
    padding: 0;
    width: 100%;
    font-size: 15px;
    font-family: 'Spartan', sans-serif;
}

.attribution {
    font-size: 11px;
    text-align: center;
  & a {
    color: hsl(228, 45%, 44%);
  }
}